<h1>Bmi calculator</h1>
<form method = "post" action="/bmi">
    Name <input type = "text" name = "username">
    <br>
    Height (in.) <input type = "number" step = "any" name = "height">
    <br>
    Weight (lb) <input type = "number" step = "any" name = "weight">
    <input type = "submit">
</form>