<h1>3d Distance calculator</h1>
<form method = "post" action="/dist">
    Enter the (x,y,z) coordinates of a point
    <hr>
    x = <input type = "number" step = "any" name = "x"><br>
    y = <input type = "number" step = "any" name = "y"><br>
    z = <input type = "number" step = "any" name = "z"><br>
    <hr>
    <input type = "submit">
</form>