<h1>Find Course by Subject</h1>
<form method = "post" action="/coursesBySubject">
    Enter course subject: <input type = "text" name = "subject">
    <br>
    Enter course term: <input type = "text" name = "term">
    <input type = "submit">
</form>