

    <p class="bg-danger">Welcome to Tim's  app</p>
    Here is my <a href="/bio">bio</a>
    <br>
    <a href="/simpleform">go to simple form</a>
    <br>
    <a href = /bmi> go to BMI calculator</a>
    <br>
    <a href = /dist> go to distance calculator</a>

