

    <p class="bg-danger">Welcome to Tim's  app</p>
    Here is my <a href="/bio">bio</a>
    <br>
    <a href="/simpleform">go to simple form</a>
    <br>
    <a href = /bmi> go to BMI calculator</a>
    <br>
    <a href = /dist> go to distance calculator</a>
    <br>
    <a href="/exam3b">Exam3b</a>
    <br>
    <a href="/meals">Exam3c</a>
    <br>
    <a href="/showIngredients">Exam4c</a>
    <br>
    <a href="/todo">todo</a>
    <br>
    <a href="showToDoList">show todos</a>
    <br>
    <a href="/coursesBySubject">courses by subject</a>
    <br>
    <a href="/showSchedule">show schedule</a>
    <br>
    <a href="/exam5">exam5</a>
    <br>
    <a href="/exam6">exam6</a>
    <br>
    
    
