<h1>Show Repos</h1>

<table class="table table-bordered table-striped">
    <thead>
        <th>name</th>
    </thead>
    <tbody>
        <% for(repo of repos){%> 
        <tr> 
            <td><%= repo.name %> </td> 
        </tr>
        <% } %>
    </tbody>
</table>

<pre><%= JSON.stringify(repos[0],null,5) %> </pre>
