<h1>Simpleform</h1>
<form method="post" action="/simpleform">
  username <input type="text" name="username" />
  <br />
  age <input type="number" name="age" />
  <br />
  height(inches) <input type="number" name="height" step="any" />
  <br />
  <input type="submit" />
</form>