<h1>SimpleForm info</h1>
<p class="bg-info">
    Your username is <%= username %>
</p><p>
    You are <%= age %> years old and 
    your age in days is <%= ageInDays %>
</p><p>
    This is version <%= version %> 
</p>